{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}

<section>
<br>
 <h1 class="col-md-6 offset-md-3 btn custom-bg-green btn-dark mb-2"> 
 
MENTIONS LEGALES</h1>


<p>

En vigueur au 09/12/2023
</p>

 <p>
Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs, ci-après l"Utilisateur", du site www.egui.com , ci-après le "Site", les présentes mentions légales.  <br>

La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales. <br>

Ces dernières sont accessibles sur le Site à la rubrique <strong>   « Mentions légales »</strong>. </p>

</section>

<section>

<h3>
     ARTICLE 1 - L'EDITEUR 
</h3>


<p>
L’édition et la direction de la publication du Site est assurée par <strong> Jose AYELESSO, domiciliée 21 Rue de la Liberté, 75000 Paris </strong>, dont le numéro de téléphone est 3360000000, et l'adresse e-mail egui@europe.com.
<br>
 
La personne est assujettie au Registre du Commerce et des Sociétés de 444484448 sous le numéro3Y7Y44487487. 
Le numéro de TVA  intracommunautaire est 44Y67484764.
ci-après l'"Editeur".  </p>

</section>




<section>
    <h3> ARTICLE 2 - L'HEBERGEUR</h3>




<p>
L'hébergeur du Site est la société o2switch, dont le siège social est situé au 21 Rue de la Liberté, 75000 PARIS , avec le numéro de téléphone : 01366379733 adresse mail de contact:egui@europe.com </p>


</section>


<section>

    <h3 > ARTICLE 3 - ACCES AU SITE</h3>


<p>

Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance. En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable. </p>
</section>



<section>
    <h3 class=> ARTICLE 4 - COLLECTE DES DONNEES</h3>


<p>

Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. <br>

En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit : <br>
<ul>
<li>
        par mail à l'adresse email egui@europe.com
</li>
<li>
         par voie postale au 21 Rue de la liberté 75000 Paris ;
</li>
<li>
       via un formulaire de contact ;
 </li>
 <li>
         via son espace personnel ;
</li>
</ul>
Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.  <br>
Pour plus d’informations, se reporter aux CGU du site www.egui.com accessible à la rubrique "CGU" 
Pour plus d’informations, se reporter aux CGV du site www.egui.com accessible à la rubrique "CGV" 
Pour plus d'informations en matière de protection des données à caractère personnel , se reporter à la Charte en matière de protection des données à caractère personnel du site www.egui.com accessible à la rubrique "Données personnelles"<br>
Pour plus d'informations en matière de cookies, se reporter à la Charte en matière de cookies du site www.egui.com accessible à la rubrique <a href="\cgu\#cookies">Cookies</a>. <br> </p>



</section>

{% endblock %}