{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous ?{% endblock %}

{% block body %}

<section>
<br>
 <h1 class="col-md-6 offset-md-3 btn custom-bg-green btn-dark mb-2"> 
 
Qui Sommes Nous  </h1>


        <p> <br> EGUI, votre partenaire de confiance pour les matériaux en bois exotique.</p>

        <p>Nous sommes une entreprise passionnée par la beauté et la durabilité des bois exotiques. Fondée en 20XX, Bois Exotique EGUI s'est engagée à fournir des produits de qualité exceptionnelle tout en respectant les normes de durabilité les plus élevées.</p>

        <p>Notre gamme de produits comprend une variété de bois exotiques soigneusement sélectionnés, allant du teck à l'iroko en passant par le merbau. Chacun de nos produits est issu de sources responsables, garantissant une gestion forestière durable et éthique.</p>

        <p>Chez Bois Exotique EGUI, nous croyons en la responsabilité environnementale. C'est pourquoi nous nous efforçons de minimiser notre impact sur l'environnement en favorisant des pratiques éco-responsables à chaque étape de notre chaîne d'approvisionnement.</p>

        <p>Nos clients, qu'ils soient des professionnels du bâtiment, des architectes ou des amateurs de projets de bricolage, bénéficient de notre expertise, de notre service personnalisé et de la qualité de nos produits. Nous sommes fiers de contribuer à la réalisation de projets exceptionnels et durables dans le domaine du bois exotique.</p>

        <p>Contactez-nous pour en savoir plus sur nos produits, discuter de vos projets ou obtenir des conseils d'experts. Chez Bois Exotique EGUI, nous sommes là pour concrétiser vos idées en bois exotique de la plus haute qualité.</p>
    </div>
    </section>
{% endblock %}