
{% extends 'base.html.twig' %}

{% block title %}Confirmation de Contact{% endblock %}

{% block body %}
    <h1 class="text-center pd-4">Confirmation de Contact</h1>
    <p class="text-center">Merci pour votre message! Nous avons bien reçu votre demande et nous vous contacterons prochainement.</p>
{% endblock %}