{% extends 'base.html.twig' %}

{% block title %}Produits envoyés{% endblock %}

{% block body %}

  
<section>
  
<div class="card text-center">


  <div class="card-body">
   
    <p class="card-text">Félicitation , nous avons reçu cotre annonce. </p>
    <a   
       href="{{ path('accueil') }}" class="btn btn custom-bg-green btn-dark mb-2">Accueil</a>
  </div>

  </div>
</div>

</section>

{% endblock %}